<div [@hide]="stateHide">
    <div class="hide-cart" (click)="hideCart($event)"><i class="fa" [ngClass]="stateHide == 'active' ?' fa-long-arrow-left' : 'fa-long-arrow-right'" aria-hidden="true"></i>
    </div>
    <div class="cart-content">
        <h1 class="cart-title">Shopping Cart !<i class="fa fa-shopping-cart" aria-hidden="true"></i></h1>

        <div class="cart-list">
            <span *ngIf="!(nbProducts$ |async)">Your cart is empty... Time to shop. <i class="fa fa-frown-o" aria-hidden="true"></i></span>
            <div class="cart-product-list">
                <p>Total products : {{ nbProducts$ | async }} | Price : {{ priceProducts$ | async}}</p>
                <div class="cart-product-list">
                    <div *ngFor="let item of (listProduct$ | async)" class="cart-product">
                        <div class="cart-product-img">
                            <img class="product-img" src="../../assets/img/{{item.src}}" />
                        </div>
                        <div class="cart-product-info">
                            <h4>{{ item.name }}</h4>
                            <span>{{ item.price }}€</span>
                            <button (click)="onClickRemove(item)">del</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
