:host {
    &>div {
        position: relative;
        padding: 35px;
        box-shadow: -25px 0px 45px -5px rgba(200, 204, 181, 0.59);
        height: 100%;
        border-radius: 5px;
        transition: 0.3s all ease-in-out;
        h1.cart-title {
            text-align: center;
            padding-bottom: 20px;
            border-bottom: 1px solid #8080808f;
        }
        .cart-list {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            height: 100%;
            margin-top: 15px;
        }
    }
    .hide-cart {
        margin: 0;
        position: absolute;
        top: 10em;
        left: -10px;
        cursor: pointer;
        font-size: 2em;
        color: #b9adada8;
        transition: 0.5s all ease-in-out;
        &:hover {
            color: #b5b5b5;
        }
    }
    .cart-product-list {
        width: 100%;
        .cart-product {
            display: flex;
            justify-content: space-between;
            .cart-product-img {
                .product-img {
                    max-height: 100px;
                }
            }
        }
    }
}

:host#shopping-cart-page {
    width: 100%;
    .hide-cart {
        display: none;
    }
    // div {
    //     width: 100%;
    //     background-color: brown;
    //     p {
    //         color: white;
    //         font-size: 55px;
    //     }
    // }
}
