@import "./colors.scss";

body {
  margin: 0;
  height: 100%;
  font-family:Arial;
}
#app {
  background:$body;

}
#main {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}


nav {
  background-color: #23758E;
  height: 40px;
  display: flex;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.44);
  align-items: center;
  padding-left: 35px;
  color:white;
  font-family: Arial;


  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    li {
      margin:5px;
      padding-left:10px;
      &.active
      {
        font-weight:bold;
      }
      a {
        text-decoration: none;
        color:white;
      }
    }
  }
}
