<app-search-bar [products]="products |async" ></app-search-bar>

<div >
  <div *ngIf="!loaded" class="product-loading" ><span><i class="fa fa-spin fa-spinner"></i></span></div>
  <div *ngIf="loaded" id="product-list" [ngClass]="{'product-list-display': loaded }">
    <div (mouseover)="hover=true" (mouseleave)="hover=false" *ngFor="let item of products | async" class="product"  >
      <div class="product-header">
        <p class="product-header-title" [style.background]="item.backgroundLight">{{item.name}} -  <b class="product-price">{{item.price}}€</b></p>
        <div class="product-header-img">
          <img class="product-img" src="../../assets/img/{{item.src}}"/>

        </div>
      </div>
      <div class="product-separator"></div>
      <div class="product-info">
        <p class="product-sec-info">{{item.description}}</p>
      </div>
    </div>
  </div>
</div>

